name: WakaTime Readme Stats

on:
  schedule:
    - cron: "0 0 * * *" # update tiap hari
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: LauraAllObe/wakatimeReadmeStats@main
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
